*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.new-arrivals {
    text-align: center;
    padding: 40px 20px;
    background: hwb(0 97% 3%);
    margin-bottom: 50px;
}

.new-arrivals h2 {
    font-size: 32px;
    margin-bottom: 30px;
    font-weight: 600;
}

.arrivals-row {
    display: flex;
    justify-content: space-around; 
    gap: 20px;
    flex-wrap: nowrap; 
    margin-bottom: 20px;
}


.arrival-card {
    width: 200px;             
    background: #fff;
    border: 1px solid #d7e1e8;
    border-radius: 8px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    transition: transform 0.3s, box-shadow 0.3s;
}

.arrival-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.arrival-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.arrival-card h3 {
    font-size: 18px;
    margin: 10px 0 5px;
    color: #20a9a9;
}

.arrival-card .stars {
    font-size: 16px;
    color:#1b8b8b;  
    margin-bottom: 10px;
}

.arrival-card .learn-more {
    padding: 8px 15px;
    background-color: #feffff;
    color: rgb(14, 13, 13);
    border: 2px solid #1b8b8b ;
    cursor: pointer;
}

.arrival-card .learn-more:hover {
    background-color: #1b8b8b;
}


.reviews
{
     width: 100%;
    text-align: center;
    padding: 20px;
    margin-bottom: 40px;
    
}

.reviews-container {
     display: flex;
    justify-content: center; 
    gap: 20px;                      
    flex-wrap: wrap;
    
}
.review-card {
    width: 300px;
    background: #fff;
    border: 1px solid #68c9d2;
    padding: 20px;
    position: relative;
    text-align: left;
    box-shadow: 0 4px 10px rgba(38, 202, 223, 0.3); 
 ;
}
.review-card p {
    margin: 10px 0;
    font-size: 14px;
    color: #555;
    text-align: left;
}
.review-card .profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.review-card .quote {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 80px;
    color: #dcdcdc;
}
.stars {
    color: #20a9a9;}
.img_container {
    position: relative;   
    width: 100%;
    max-height: 400px;    
    overflow: hidden;
}
.reviews h2 {
    font-size: 32px;
    margin-bottom: 30px;
}


.img_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

 .img_container .Learn_More {
    position: absolute;        
    left: 6.5%;    
    top: 65%;        
  
   
}
.Learn_More {
    background-color: #20a9a9;
    color: white;
    padding: 6px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}




.footer .container
{
    width: 100%;
    display:flex;
    padding: 30px 50px ;
    background-color:#eaeaea;
    gap:15px;
    justify-content: space-around;
    
}
.logo img
{
    width: 100px;
}

 .footer a
{
    text-decoration: none;
    color: black;

}
.footer ul
{   display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    margin-left: 0;
}
.footer h3{margin-bottom: 15px;}
.social_media li
{display: flex;
 flex-direction: row;
gap:10px;}

form button {
    border-radius: 15px;   
    padding: 2px;   
    border: none;         
    background-color: rgb(25, 199, 226)
}
.logo p{width: 300px; line-height: 1.5;}

.blog-section {
    text-align:center;
     padding: 20px ;
    background: #f7f7f7;
}

.blog-section h2 {
    font-size: 32px;
    margin-bottom: 30px;
    font-weight: 600;
}

.blog-container {
    display: flex;
    justify-content:space-around;
    gap: 10px;
    flex-wrap: wrap;
}

.blog-card {
    width: 350px;
    background: white;
    border: 1px solid #d7e1e8;
    border-radius: 8px;
    text-align: left;
    overflow: hidden; 
    
    box-shadow: 0 4px 12px rgba(0,0,0,0.19);}

.blog-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.blog-card img {
    width: 100%;
    height: 250px;
   
}
.blog-card .content {
    padding: 20px; 
}

.blog-card h3 {
    font-size: 20px;
    margin: 10px 0 5px;
    color: #20a9a9;
}

.content p {
    font-size: 15px;
    color: #121212;
    font: weight 400px;;
}

.blog-card .icons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 18px;
    color: #20a9a9;
}

