*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.footer .container
{
    width: 100%;
    display:flex;
    padding: 30px 50px ;
    background-color:#eaeaea;
    gap:15px;
    justify-content: space-around;
    
}
.logo img
{
    width: 100px;
}

 .footer a
{
    text-decoration: none;
    color: black;

}
.footer ul
{   display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    margin-left: 0;
}
.footer h3{margin-bottom: 15px;}
.social_media li
{display: flex;
 flex-direction: row;
gap:10px;}

form button {
    border-radius: 15px;   
    padding: 2px;   
    border: none;         
    background-color: rgb(25, 199, 226)
}
.logo p{width: 300px; line-height: 1.5;}



