:root {
    --main-color: #299da1; 
    --bg-white: #ffffff;
    --border-color: #e0e0e0;
    --text-color:#000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

header {
    background-color: var(--bg-white);
    box-shadow: 0 3px 11px rgba(41, 157, 161, 0.45), 0 2px 5px rgba(41, 157, 161, 0.35);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 40px;
    max-width: 1550px; 
    margin: 0 auto;
}



.nav-links {
    display: none;
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: .95rem;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: var(--main-color);
}




.icon-link {
    color: var(--text-color); 
    font-size: 1.2rem;
    text-decoration: none;
}

.hamburger-menu {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--text-color); 
}

.actions {
    display: flex;
    align-items: center;
    gap: 20px; 
}


@media (min-width: 768px) {

    .hamburger-menu {
        display: none;
    }

    .nav-links {
        display: flex;
        gap: 25px;       
        margin: 0 auto; 
    }
}
